# CONF 
# vim: set ts=2 sw=2 sts=2 et si ai syntax=sh:
 
# wlstmatic.rc - Main Setup of WLSTMatic
# =
#
# Developer
# Andres Aquino <aquino(at)hp.com>
#


WLNAME="WLSTmatic"

MD_HOME=${HOME}/Oracle/Middleware
WL_HOME=${MD_HOME}/wlserver_10.3
BEA_HOME=${WL_HOME}/user_projects/domains
JAVA_HOME=/usr/lib/jvm/java-6-sun
CLASSPATH=${WL_HOME}/server/lib/weblogic.jar:$CLASSPATH


